# Server
PORT=3000
LOGGER_GLOBAL_LOG_LEVEL=TRACE
NODE_ENV=development
INIT_ADMIN_EMAIL=example@example.com
INIT_ADMIN_PASSWORD=123123
SERVER_BASE_URL=http://localhost:3000

# Minio
MINIO_AUDIO_FILES_BUCKET=audio-files
MINIO_HOST=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=root
MINIO_SECRET_KEY=password

# Microservices

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379


